# This can be any random string, it is used to secure the webhook endpoint.
APP_WEBHOOK_SECRET=your-webhook-secret

# With vercel deploy supabase env vars are auto generated!
# Configure auth magic link & redirect urls > https://github.com/leap-ai/headshots-starter#5-magic-link-auth-supabase
# Locally get Supabase details from your project settings > API - https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=some-value
NEXT_PUBLIC_SUPABASE_ANON_KEY=some-value
SUPABASE_SERVICE_ROLE_KEY=its-a-secret

# VERCEL BLOB VARS (Image storage service)
BLOB_READ_WRITE_TOKEN=your-blob-read-write-token

# RESEND VARS (Email service)
RESEND_API_KEY=your-resend-api-key

NEXT_PUBLIC_STRIPE_IS_ENABLED=false 

# DEPLOYMENT
DEPLOYMENT_PROVIDER=vercel # or replit
VERCEL_URL=some-value